<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baliwanco.biyahero"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.baliwanco.biyahero.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.baliwanco.biyahero.MyRoutes"
            android:label="@string/app_name"
            android:parentActivityName="com.baliwanco.biyahero.MainActivity" >
        </activity>
        <activity
            android:name="com.baliwanco.biyahero.ViewMap"
            android:label="@string/title_activity_view_map"
            android:parentActivityName="com.baliwanco.biyahero.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.baliwanco.biyahero.MainActivity" />
        </activity>
        <activity
            android:name="com.baliwanco.biyahero.TransitInfo"
            android:label="@string/title_activity_transit_info"
            android:parentActivityName="com.baliwanco.biyahero.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.baliwanco.biyahero.MainActivity" />
        </activity>
    </application>

</manifest>
